<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 mt-4">
      <h2>User info</h2>
      <% if @user.errors.any? %>
        <%= @user.errors.count %>error
        <% @user.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>
      <%= form_with model:@user, local:true do |f| %>
        <label for="inputName">Name</label><br>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%><br>
        <label for="inputImage">Image</label><br>
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%><br>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %><br>
        <label for="inputIntroduction">Introduction</label><br>
        <%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", placeholder:"自己紹介文"%><br>
        <%= f.submit "Update User", class:"btn btn-secondary" %><br>
      <% end %>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>